/**
 * @file
 * Styles for the Progressive Image Loading images.
 */

/**
 * Do not blur elements with the 'progressive-image-loading-disable-blur' class.
 */
img.progressive-image-loading[data-src]:not(.progressive-image-loading-disable-blur),
img.progressive-image-loading[data-srcset]:not(.progressive-image-loading-disable-blur),
*.progressive-image-loading[data-background-image]:not(.progressive-image-loading-disable-blur) {
  -webkit-filter: blur(5px);
  filter: blur(0.2em);
}
img.progressive-image-loading[data-src][data-loaded="true"]:not(.progressive-image-loading-disable-blur),
img.progressive-image-loading[data-srcset][data-loaded="true"]:not(.progressive-image-loading-disable-blur),
*.progressive-image-loading[data-background-image][data-loaded="true"]:not(.progressive-image-loading-disable-blur) {
  -webkit-filter: blur(0);
  filter: blur(0em);
  transition: filter 750ms, -webkit-filter 750ms;
}
