{#
/**
 * @file
 * Default theme implementation of a background image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see progressive_image_loading_preprocess_image()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
</div>
